.root {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #1a171e;
  color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.logo {
  height: 50px;
  display: flex;
  align-items: center;
  justify-items: start;
}
.logoimg {
  width: 50px;
  height: 50px;
}
.logotext {
  font-size: 24px;
  color: #9d2e2e;
}
.title {
  text-align: start;
}
.hr {
  height: 0px;
  border: 0.5px solid #aba3a3;
  width: 100%;
}
.list {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
}
.listItem {
}
